----
<img src="../../files/refinitiv.svg" class="rft-examples-logo" width="20%" style="vertical-align: top;">

# Data Library for Python

----

## Access layer - Get data
This notebook demonstrates how to retrieve Pricing snapshots and Fundamental & Reference data using the get_data() function.

#### About the get_data function
The get_data() function allows you to retrieve pricing snapshots as well as Fundamental & Reference data via a single function call.


***get_data()*** parameters: 
- ***universe***: Single instrument or list of instruments to request
    - Type: String or list
    - Optional: No  
- ***fields***: Single field or list of fields to request
    - Type: String or list
    - Optional: Yes  
- ***parameters***: Additional parameters specific applied to Fundamental & Reference fields (a.k.a. "TR." fields)
    - Type: Dictionary
    - Optional: Yes  
    
**get_data()** returns a pandas.DataFrame with fields in columns and instruments as row index.  
It raises exceptions on error and when no data is available

#### Learn more

To learn more about the Refinitiv Data Library for Python please join the Refinitiv Developer Community. By [registering](https://developers.refinitiv.com/iam/register) and [logging](https://developers.refinitiv.com/content/devportal/en_us/initCookie.html) into the Refinitiv Developer Community portal you will have free access to a number of learning materials like 
 [Quick Start guides](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/quick-start), 
 [Tutorials](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/tutorials),
 [Documentation](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/documentation)
 and much more.

#### Getting Help and Support

If you have any questions regarding using the API, please post them on 
the [Refinitiv Data Q&A Forum](https://community.developers.refinitiv.com/spaces/321/index.html). 
The Refinitiv Developer Community will be happy to help. 

----

## Some Imports to start with

In [1]:
import refinitiv.data as rd
import pandas as pd

## Open the data session

The open_session() function creates and open sessions based on the information contained in the refinitiv-data.config.json configuration file. Please edit this file to set the session type and other parameters required for the session you want to open.

In [2]:
rd.open_session()

## Retrieve data

### Pricing snapshots

In [4]:
rd.get_data(['LSEG.L', 'VOD.L'])

,Instrument,PROD_PERM,RDNDISPLAY,DSPLY_NAME,RDN_EXCHID,TRDPRC_1,TRDPRC_2,TRDPRC_3,TRDPRC_4,TRDPRC_5,...,OFF_CLS_NS,PHA_STM_NS,TRG_RSM_NS,ELG_ACVOL,VEH_PERMID,ELG_TNOV,EX_VOL_UNS,LTNOV_UNS,TRNOVR_UNS,ACVOL_UNS
0,LSEG.L,5625,115,LON.STK.EXCH,64,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,VOD.L,5625,115,VODAFONE GROUP,64,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [5]:
rd.get_data(
    universe=['LSEG.L', 'VOD.L'],
    fields=['BID', 'ASK']
)

  Instrument   BID   ASK
0     LSEG.L  7100  7826
1      VOD.L   100   102

### Fundamental data

In [6]:
rd.get_data(
    universe=['LSEG.L', 'VOD.L'],
    fields=['TR.Revenue']
)

  Instrument      Revenue
0     LSEG.L   7743000000
1      VOD.L  45580000000

### Mix of pricing snapshots and fundamental data

In [7]:
rd.get_data(
    universe=['LSEG.L', 'VOD.L'], 
    fields=['BID', 'ASK', 'TR.Revenue']
)

  Instrument      Revenue   BID   ASK
0     LSEG.L   7743000000  7100  7826
1      VOD.L  45580000000   100   102

### Fundamental fields with parameters

In [8]:
rd.get_data(
    universe=['LSEG.L', 'VOD.L'],
    fields=['TR.PriceTargetMean(Source=ThomsonReuters)']
)

  Instrument  Price Target - Mean
0     LSEG.L             9196.625
1      VOD.L            118.62224

### Fundamental fields with global parameters

In [9]:
rd.get_data(
    universe=['LSEG.L', 'VOD.L'],
    fields=['TR.EV','TR.EVToSales'],
    parameters = {'SDate': '0CY', 'Curn': 'CAD'}
)

,Instrument,Enterprise Value (Daily Time Series),Enterprise Value To Sales (Daily Time Series Ratio)
0,LSEG.L,77536232151.933105,6.523209
1,VOD.L,129010979414.403,1.933286

### Close the session

In [10]:
rd.close_session()